name: Update README

on:
  schedule:
    - cron: '* * * * *'

jobs:
  update-readme:
    name: Realtime Development Stats
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
